@{
    Layout = "~/Areas/Accounts/Views/Shared/_LayoutAdmin.cshtml";
}
<form asp-for="Create" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">First Name</label>
            <input type="text" name="FirstName" class="form-control" placeholder="Enter First Name">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Last Name</label>
            <input type="text" name="LastName" class="form-control" placeholder="Enter Last Name">
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress">Email</label>
        <input type="email" name="Email" class="form-control"  placeholder="Enter Email">
    </div>
    <div class="form-group">
        <label for="inputAddress2">Phone</label>
        <input type="text" name="Phone" class="form-control"  placeholder="Enter Phone">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">User Name</label>
            <input type="text" name="UserName" class="form-control" placeholder="Enter User Name">
        </div>
        <div class="form-group col-md-4">
            <label for="inputZip">Password</label>
            <input name="Password" type="password" class="form-control" placeholder="Enter Password">
        </div>
        <div class="form-group col-md-2">
            <label for="">Id Proof</label>
            <input name="IdPoof" type="text" class="form-control" placeholder="Enter Id Poof">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>
