@model Users
<nav class="navigation closed clearfix">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <!-- navigation menu -->
            <a href="#" class="menu-toggle-close btn"><i class="fa fa-times"></i></a>
            <ul class="nav sf-menu">
                <li class="active"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="FeedBack" asp-action="Index">FeedBack</a></li>
                @if (ViewBag.KeyUser != null)
                {
                    <li><a asp-area="Accounts" asp-action="Logout" asp-controller="Account">Logout</a></li>
                    <li><a asp-action="Index" asp-controller="History">History</a></li>
                    <li><a asp-action="Index" asp-controller="Profile">@(Model.LastName + " " + Model.FirstName)</a></li>
                }
                else
                {
                    <li><a asp-area="Accounts" asp-action="Login" asp-controller="Account">Login</a></li>
                    <li><a asp-area="Accounts" asp-action="Register" asp-controller="Account">Register</a></li>
                }

                <li>
                    <ul class="social-icons">
                        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </li>
            </ul>
            <!-- /navigation menu -->
        </div>
    </div>
    <!-- Add Scroll Bar -->
    <div class="swiper-scrollbar"></div>
</nav>
