@model LoginViewModel
<div class="content-w3ls">
    <div class="text-center icon">
        <img src="~/images/logo-win-hurricane.png" alt="">
    </div>
    <!---728x90--->
    <div class="content-bottom">
        <form method="post"  class="form" asp-area="Accounts" asp-controller="Account" asp-action="Login" >
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger mb-1"></div>
            @if (TempData["Message"] != null)
            {
                <span style="color:red;">@TempData["Message"].ToString()</span>
            }
        <input type="text"  asp-for="user_name" value="" />
        <input type="text"  asp-for="password" value="" />
            <div class="wthree-field">
                <button type="submit" class="btn">Login</button>
            </div>
            <ul class="list-login">
                <li class="switch-agileits">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                        Remember Me
                    </label>
                </li>
                <li>
                    <a href="#" class="text-right">forgot password?</a>
                </li>
                <li class="clearfix"></li>
            </ul>
            <ul class="list-login-bottom">
                <li class="">
                    <a href="#" class="">Create Account</a>
                </li>
                <li class="">
                    <a href="#" class="text-right">Need Help?</a>
                </li>
                <li class="clearfix"></li>
            </ul>
        </form>
    </div>
</div>
