
                <div class="content-w3ls">
                    <div class="text-center icon">
                        <img src="~/images/logo-win-hurricane.png" alt="">
                    </div>
                    <!---728x90--->
                    <div class="content-bottom">
                        <form asp-for="Login" method="post">
                            <div class="field-group">
                                <span class="fa fa-user" aria-hidden="true"></span>
                                <div class="wthree-field">
                                    <input name="user_name" id="text1" type="text" value="" placeholder="Username" required>
                                </div>
                            </div>
                            <div class="field-group">
                                <span class="fa fa-lock" aria-hidden="true"></span>
                                <div class="wthree-field">
                                    <input name="password" id="myInput" type="Password" placeholder="Password">
                                </div>
                            </div>
                            <div class="wthree-field">
                                <button type="submit" class="btn">Login</button>
                            </div>
                            <ul class="list-login">
                                <li class="switch-agileits">
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                        Remember Me
                                    </label>
                                </li>
                                <li>
                                    <a href="#" class="text-right">forgot password?</a>
                                </li>
                                <li class="clearfix"></li>
                            </ul>
                            <ul class="list-login-bottom">
                                <li class="">
                                    <a href="#" class="">Create Account</a>
                                </li>
                                <li class="">
                                    <a href="#" class="text-right">Need Help?</a>
                                </li>
                                <li class="clearfix"></li>
                            </ul>
                        </form>
                    </div>
                </div>
