@model RegisterViewModel
<!---728x90--->
<div>
    <ul class="list-login">
        <li class="switch-agileits" style="float: right; margin-right: 50px;">
            <label class="switch">
                Already have an account?
            </label>
            <a href="#" class="btn btn-outline-danger">Log In</a>
        </li>
        <!-- <li class="clearfix">
            <a href="#" class="btn btn-dark">Log In</a>
        </li> -->
        <!-- <li class="clearfix"> <a href="#" class="btn btn-dark">Log In</a></li> -->
    </ul>
</div>

<div class="content-w3ls">
    <div class="text-center icon">
        <img src="/images/logo-win-hurricane.png" alt="">
    </div>
    <!---728x90--->
    <div class="content-bottom">
        <form method="post" asp-area="Accounts" asp-controller="Account" asp-action="Register">
            <input type="text" asp-for="first_name"  value="" />
            <input type="text" asp-for="email"  value="" />
            <input type="text" asp-for="last_name"  value="" />
            <input type="text" asp-for="phone"  value="" />
            <input type="text" asp-for="password"  value="" />
            <input type="text" asp-for="user_name"  value="" />
            <input type="submit" value="click" />
        </form>
    </div>
</div>
