@model Users
    <form class="container"asp-action="Edit" style="margin-top: 100px">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="title">
            <h2 class="text-center">Setting Information</h2>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input asp-for="Email" disabled class="form-control" id="inputEmail4" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Password</label>
                <input value="********************" disabled class="form-control" id="inputPassword4" placeholder="Password">
            </div>
        </div>
        <div class="form-group col-md-12">
            <label for="inputAddress">Phone</label>
            <input type="number" asp-for="Phone" class="form-control" required id="inputAddress" placeholder="Phone number">
        </div>
        <div class="form-group col-md-12">
            <label for="inputAddress2">Last Name</label>
            <input type="text" asp-for="LastName" class="form-control" required id="inputAddress2" placeholder="Last Name">
        </div>
        <div class="form-group col-md-12">
            <label for="inputAddress2">First Name</label>
            <input type="text" asp-for="FirstName" class="form-control"required placeholder="First Name" id="inputCity">
        </div>
        <div class="form-group col-md-12">
            <div class="form-check">
                <input type="email" asp-for="Email" class="form-control"required id="inputCity">
                <label class="form-check-label" for="gridCheck">
                    Check me out
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>