
@{
    ViewData["Title"] = "FeedBack";
}

@model FeedBackModelView
<!-- CONTENT AREA -->
<div class="content-area">

    <!-- BREADCRUMBS -->
    <section class="page-section breadcrumbs text-center">
        <div class="container">
            <div class="page-header">
                <h1>FeedBack</h1>
            </div>
            <!-- <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li class="active">List Car</li>
            </ul> -->
        </div>
    </section>
    <!-- /BREADCRUMBS -->
    <!-- PAGE -->
    <section class="page-section testimonials">
        <div class="container wow fadeInUp" data-wow-offset="70" data-wow-delay="500ms">
            <div class="testimonials-carousel">
                <div class="owl-carousel" id="testimonials">
                    @foreach (var item in ViewBag.listFb)
                    {
                        <div class="testimonial">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object testimonial-avatar" src="assets/img/preview/team/team-270x270x1.jpg" alt="Testimonial avatar">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <div class="testimonial-text">@item.Description</div>
                                    <div class="testimonial-name">@item.UserName <span class="testimonial-position">New customers to experience</span></div>
                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
    </section>
    <!-- /PAGE -->
    <!-- PAGE -->
    <section class="page-section">
        <div class="container">

            <div class="col-md-8 text-left">

                <h2 class="block-title"><span>FeedBack Form</span></h2>

                <!-- Contact form -->
                <form name="contact-form" method="post" asp-action="Index" class="contact-form" id="contact-form">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-1"></div>
                    <div class="outer required">
                        <div class="form-group af-inner">
                            <label class="sr-only" for="subject">Subject</label>
                            <input type="text" asp-for="Title" placeholder="Subject" value="" size="30"
                                   data-toggle="tooltip" title="Subject is required"
                                   class="form-control placeholder" required/>
                        </div>
                    </div>

                    <div class="form-group af-inner">
                        <label class="sr-only" for="input-message">Message</label>
                        <textarea asp-for="Description" type="text" placeholder="Description" rows="4" cols="50"
                                  data-toggle="tooltip" title="Message is required"
                                  class="form-control placeholder" required></textarea>
                    </div>

                    <div class="outer required">
                        <div class="form-group af-inner">
                            <input type="submit" name="submit" class="form-button form-button-submit btn btn-theme btn-theme-dark" id="submit_btn" value="Send feedback" onclick="SendFeedBack()"/>
                        </div>
                    </div>

                </form>
                <!-- /Contact form -->

            </div>
            <div class="col-md-4">
                <div class="contact-info">

                    <h2 class="block-title"><span>Contact Us</span></h2>

                    <div class="media-list">
                        <div class="media">
                            <i class="pull-left fa fa-home"></i>
                            <div class="media-body">
                                <strong>Address:</strong><br>
                                So 8 Ton That Thuyet, My Dinh 2, Nam Tu Liem, Ha Noi.
                            </div>
                        </div>
                        <div class="media">
                            <i class="pull-left fa fa-phone"></i>
                            <div class="media-body">
                                <strong>Telephone:</strong><br>
                                +84 382-548-442
                            </div>
                        </div>
                        <div class="media">
                            <i class="pull-left fa fa-envelope-o"></i>
                            <div class="media-body">
                                <strong>Fax:</strong><br>
                                0123456789
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-body">
                                Phasellus pellentesque purus in massa aenean in pede phasellus libero ac tellus pellentesque semper.
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-body">
                                <strong>Customer Service:</strong><br>
                                <a href="mailto:hello@rentit.com">anthonyhopkins@gmail.com</a>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-body">
                                <strong>Tech-Support:</strong><br>
                                <a href="mailto:hello@rentit.com">janeElizabeth@gmail.com</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- /PAGE -->
</div>
<!-- /CONTENT AREA -->

<script>
    function SendFeedBack() {
        alert("You have responded successfully");
    }
</script>